<h1>Detalles del articulo</h1>

<h1><%= @article.title %></h1>

<% unless @article.user.nil? %>
  <p>Escrito por <%= @article.user.email %></p>
<% end %>

<p><%= @article.body %></p>

<p>Visitas <%= @article.visits_count %></p>

<p><%= link_to "Editar", edit_article_path(@article) %></p>
