<h1>Detalles del articulo</h1>

<h1><%= @article.title %></h1>

<% unless @article.user.nil? %>
  <p>Escrito por <%= @article.user.email %></p>
<% end %>

<p><%= @article.body %></p>

<h3>Imagenes</h3>

<div class="field">
  <p>Imagen en tamano completo</p>
  <%= image_tag @article.cover.url() %>
</div>
<div class="field">
  <p>Imagen en tamano thumb</p>
  <%= image_tag @article.cover.url(:thumb) %>
</div>
<div class="field">
  <p>Imagen mini</p>
  <%= image_tag @article.cover.url(:mini) %>
</div>

<p>Visitas <%= @article.visits_count %></p>

<p><%= link_to "Editar", edit_article_path(@article) %></p>

<div class="field">
  <h3>Listado de comentarios</h3>

  <ul id="comments-box">
    <% @article.comments.each do |comment| %>
      <li>
        <%= comment.body %> - <%= comment.user.email %>
      </li>
    <% end %>
  </ul>

  <h3>Crear un nuevo comentario</h3>
  <%= render "comments/form" %>
</div>
