<p id="notice"><%= notice %></p>

<h1 style="color: <%= @category.color %>"><%= @category.name %></h1>

<h2>Articulos de esta categoria</h2>
<div class="field">
	<% @category.articles.each do |article| %>
	  	<h3><%= link_to article.title, article, style: "color: black" %></h1>
	  	<p><%= article.body %></p>	  	
	  	<%= link_to "Eliminar", article, method: :delete, class: "red" %></h3>
	<% end %>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
